<!doctype html>
<html  class="x-admin-sm">
<head>
	{include file='common/container'}
    <link rel="stylesheet" href="__STATIC__/css/login.css">
    <link rel="stylesheet" href="https://ysdwnkj.com/static/css/test.css">
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
</head>
<style>
    .layui-bg-green {
        background-color: #009688!important;
    }
</style>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">域名分发-管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="account" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <div id="slider"></div>
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        layui.config({
			base: '__STATIC__/lib/layui/'
		}).extend({
			sliderVerify:'sliderVerify/sliderVerify'
		}).use(['sliderVerify', 'jquery', 'form'], function() {
			var sliderVerify = layui.sliderVerify,
				form = layui.form;
			var slider = sliderVerify.render({
				elem: '#slider',
				// onOk: function(){//当验证通过回调
				// 	layer.msg("滑块验证通过");
				// }
			});
			//监听提交
			form.on('submit(login)', function(data) {
                //console.log('111111');return false;
				if(!slider.isOk()){
					layer.msg("请先通过滑块验证");
                    return false;
				}
				$.ajax({
                    url:"{:url('login/loginHandle')}",       
                    method:'post',       
                    data:data.field,        
                    dataType:'JSON',         
                    success:function(res){
                        if(res.code == 200){
                            location.href="{:url('Index/index')}"
                        }else{
                            layer.msg(res.msg);
                        }
                    },              
                    error:function (data) {
                            
                    }           
                }) ;
                return false;
			});
			
		})
    </script>
</body>
</html>