<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    {include file='common/container'}
</head>

<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">视频管理</a>
            <a>
              <cite>视频列表</cite>
            </a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">

                    <div id="uploader" class="wu-example">
                        <!--用来存放文件信息-->
                        <div id="thelist" class="uploader-list"></div>
                        <div class="btns">
                            <div id="picker">选择上传文件</div>
                        </div>
                    </div>

                    <br/>

                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>

                        <th>标题</th>
                        <th>标签</th>
                        <th>价格</th>
                        <th>地址</th>
                        <th>封面图路径</th>
                        <th>免费时常</th>
                        <th>平台</th>
                        <th>编辑</th>
                        <th>上传时间</th>
                        </thead>
                        <tbody>
                        {volist name="list" id="v"}
                        <tr>
                            <td>{$v.video_title}</td>
                            <td>{$v.labels}</td>
                            <td>{$v.video_price}</td>
                            <td>{$v.video_path}</td>
                            <td>
                                <img class="head-img" src="{$v.img_path}"/>
                                <br/>
                                {//$v.img_path}
                            </td>
                            <td>{$v.duration}</td>
                            <td>{$v.platform}</td>
                        <td class="td-manage">
                            {if condition="$v.status eq 0"}
                            <a title="编辑" class="layui-btn layui-btn-xs" onclick="xadmin.open('详情','{:url("edit")}?id={$v.id}',700,400)" href="javascript:;">
                            <i class="icon iconfont"></i>编辑</a>
                            &nbsp;&nbsp;&nbsp;

                            <button type="button" onclick="member_del(this,'{$v.id}')" class="layui-btn layui-btn-xs layui-btn-danger">更新到线上</button>
                            {/if}
                        </td>
                            <td>{$v.create_time}</td>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="__STATIC__/js/form.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/common.js"></script>
<script>
</script>


<script>
    var totalChunkNum = 0;
    var crrentChunkNum = 0;
    var uploadswf = 'webupload/Uploader.swf';
    var chunkSize = 2*1024*1024;
    var server_url='/index.php/admin/upload/index';
    var server_cf='/index.php/admin/upload/cf';
    var GUID = WebUploader.Base.guid();//一个GUID
    var chunkObj = {};  //用来记录文件的状态、上传中断的位置
    var seq=1;
    var msg='';

    function member_del(obj,id){
        var url = "{:url('renew')}";
        ajaxDelete(obj,id,url);
    }

    $(function () {
        var $ = jQuery;
        var $list = $('#thelist');
        WebUploader.Uploader.register({
            "before-send-file":"beforeSendFile",
            "before-send": "beforeSend"
        }, {
            "beforeSendFile": function (file) {
                //上传前校验文件是否已经上传过
                var deferred = WebUploader.Deferred();
                $.ajax({
                    type:"POST",
                    //上传前校验文件上传到第几片
                    url: server_cf,
                    data: {
                        seq: seq,
                        fileMd5: md5(file.name + file.size + file.ext),
                        fileName:file.name
                    },
                    dataType: "json",
                    success: function (data) {
                        chunkObj = data;
                        chunkObj.type = data.type;
                        chunkObj.chunk == data.chunk;
                        msg = data.msg;
                        // var percentNum = crrentChunkNum / totalChunkNum * 100
                        // $('#id').html(`<div> ${percentNum}%</div>`)
                        if(data.type==404){
                            deferred.reject();
                            $("#" + file.id).find(".state").text(data.msg);

                        }else if (data.type == 0) {
                            deferred.reject();
                            $("#" + file.id).find(".state").text("文件已上传");
                        } else if (data.type == 1) {
                            if (data.chunk) {
                                deferred.resolve();
                            }
                        } else {
                            deferred.resolve();
                        }
                    },
                    error: function () {
                        deferred.resolve();
                    }
                })
                return deferred.promise();
            },
            "beforeSend": function (block) {
                var deferred = WebUploader.Deferred();
                var curChunk = block.chunk;
                var totalChunk = block.chunks;
                totalChunkNum = totalChunk
                crrentChunkNum = curChunk
                console.log(chunkObj)
                if (chunkObj.type == "1") {
                    if (curChunk < chunkObj.chunk) {
                        deferred.reject();
                    } else {
                        deferred.resolve();
                    }
                } else {
                    deferred.resolve();
                }
                return deferred.promise();
            }
        });
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: uploadswf,
            // 文件接收服务端。
            server: server_url,
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',
            chunked: true,//开始分片上传
            chunkSize:1 * 1024 * 1024,//每一片的大小
            threads: 1,
            formData: {
            },
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false
        });

        // 当有文件被添加进队列的时候
        uploader.on('fileQueued', function (file) {

            $list.append('<div id="' + file.id + '" class="item">' +
                '<div class="item-file"><div class="fileType-logo"></div>' +
                '<div class="fileMes"><h4 class="info">' + file.name + '</h4>' +
                '<p class="state">等待上传...</p>' +
                '</div></div></div>');

        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress .progress-bar');
            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress progress-striped active">' +
                    '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                    '</div>' +
                    '</div>').appendTo($li).find('.progress-bar');
            }
            if (percentage * 100 >=90){
                percentage = 0.94;
            }
            $li.find('p.state').text('上传中...请勿刷新.已上传（'+((percentage * 100).toFixed(2))+'%）');
            $('#' + file.id).append(`<div> </div>`)

        });
        uploader.on("uploadBeforeSend", function (obj, data, headers) {
            var file = obj.cuted.file;
            data.test = 1;
            data.fileMd5 = md5(file.name + file.size + file.ext);

        })
        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            if(response.status==299){
                $('#' + file.id).find('p.state').text('文件已存在');
            }else{
                $('#' + file.id).find('p.state').text('已上传');
            }

        });
        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            $('#' + file.id).find('p.state').text(msg);
        });
        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').fadeOut();
        });
        //所有文件上传完毕
        uploader.on("uploadFinished", function () {
            //提交表单
        });
        //开始上传
        $("#ctlBtn").click(function () {
            uploader.upload();

        });
    });


</script>
</html>