<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            {if condition="authCheck('Member/index',$admin_id)"}
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="上传管理">&#xe6b8;</i>
                    <cite>上传管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('上传列表','{:url("Member/index")}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>上传列表</cite></a>
                    </li>

                </ul>
            </li>
            
            {/if}

            {if condition="authCheck('AuthUser/index',$admin_id)"}
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="管理员管理">&#xe726;</i>
                    <cite>权限管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('管理员列表','{:url("AuthUser/index")}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('角色管理','{:url("AuthGroup/index")}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite></a>
                    </li>

                </ul>
            </li>
            {/if}
            


        </ul>
    </div>
</div>
